{% extends 'Front/front.html.twig' %}

{% block body %}
   <div id="main">
           <!-- Post -->
	 <section class="post">
		  <header class="major">
		     <span class="date">April 09, 2023</span>
			   <h1>S'inscrire</h1>
		  </header>
    <div class="section-content">
          
  {# you should put your registration form here #}

    </div>
  </section>
</div>
{% endblock %}