{% extends 'base.html.twig' %}

{% block title %}nouveau role{% endblock %}

{% block body %}
    <div style="text-align: center;">
    <h1>Ajouter role/h1>
    {{ include('role/_form.html.twig') }}

    <a href="{{ path('app_role_index') }}">Retour</a>
{% endblock %}
